<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{:: title}, ~{:: body/content()}, true, ~{:: additionalScripts})}"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" />
  <script src="../../../static/js/jquery-3.6.0.min.js"></script>
  <script src="../../../static/js/bootstrap.bundle.min.js"></script>
  <script src="../../../static/js/common.js"></script>
  <title>プロジェクト登録</title>

  <!--/* 画面固有のJavaScriptファイル */-->
  <th:block th:fragment="additionalScripts">
  </th:block>
</head>

<body class="container">
  <span th:if="${message}" th:text="${message}"></span>
  <div class="row mb-4">
    <div class="col">
      <div class="fs-2 fw-bold">プロジェクト登録確認</div>
    </div>
  </div>
  <form method="POST" th:action="@{/project/create/register}" th:object="${projectCreateForm}">
    <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}" class="text-danger fw-bold"></span>

    <input type="hidden" th:field="*{divisionId}" />
    <input type="hidden" th:field="*{organizationId}" />
    <input type="hidden" th:field="*{projectName}" />
    <input type="hidden" th:field="*{projectType}" />
    <input type="hidden" th:field="*{projectClass}" />
    <input type="hidden" th:field="*{sales}" />
    <input type="hidden" th:field="*{clientId}" />
    <input type="hidden" th:field="*{projectManager}" />
    <input type="hidden" th:field="*{projectLeader}" />
    <input type="hidden" th:field="*{projectStartDate}" />
    <input type="hidden" th:field="*{projectEndDate}" />
    <input type="hidden" th:field="*{note}" />

    <div class="row mb-3">
      <div class="col-6">
        <span class="form-label fw-bold">事業部/部門<span class="fw-6 text-danger">*</span></span>
        <span class="form-control-plaintext"
          th:text="${@projectViewHelper.getOrganizationName(projectCreateForm.divisionId)}">A事業部</span>
      </div>
      <div class="col-6">
        <span class="form-label">&nbsp;</span>
        <span class="form-control-plaintext"
          th:text="${@projectViewHelper.getOrganizationName(projectCreateForm.organizationId)}">C部門</span>
      </div>
    </div>
    <div class="col mb-3">
      <span class="form-label fw-bold">PJ名<span class="fw-6 text-danger">*</span></span>
      <span class="form-control-plaintext" th:text="*{projectName}">○○プロジェクト</span>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <span class="form-label fw-bold">PJ種別<span class="fw-6 text-danger">*</span></span>
        <span class="form-control-plaintext"
          th:text="${@codeViewHelper.getName('C0200001', projectCreateForm.projectType)}">新規開発PJ</span>
      </div>
      <div class="col-6">
        <span class="form-label fw-bold">PJ分類<span class="fw-6 text-danger">*</span></span>
        <span class="form-control-plaintext"
          th:text="${@codeViewHelper.getName('C0300001', projectCreateForm.projectClass)}">SS</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <span class="form-label fw-bold">売上高(千円)</span>
        <span class="form-control-plaintext"
          th:text="${projectCreateForm.sales != null ? #numbers.formatDecimal(projectCreateForm.sales, 1, 'COMMA', 0, 'POINT') : ''}">15,000</span>
      </div>
      <div class="col-6">
        <span class="form-label fw-bold">顧客<span class="fw-6 text-danger">*</span></span>
        <div class="input-group">
          <span class="form-control-plaintext"
            th:text="${@projectViewHelper.getClientName(projectCreateForm.clientId)}">0</span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <span class="form-label fw-bold">PM<span class="fw-6 text-danger">*</span></span>
        <span class="form-control-plaintext" th:text="*{projectManager}">プロジェクトマネージャ</span>
      </div>
      <div class="col-6">
        <span class="form-label fw-bold">PL<span class="fw-6 text-danger">*</span></span>
        <span class="form-control-plaintext" th:text="*{projectLeader}">プロジェクトリーダー</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <span class="form-label fw-bold">開始日<span class="fw-6 text-danger">*</span></span>
        <span class="form-control-plaintext"
          th:text="${projectCreateForm.projectStartDate != null ? #temporals.format(projectCreateForm.projectStartDate, 'yyyy/MM/dd') : ''}">2022年1月1日</span>
      </div>
      <div class="col-6">
        <span class="form-label fw-bold">終了日<span class="fw-6 text-danger">*</span></span>
        <span class="form-control-plaintext"
          th:text="${projectCreateForm.projectEndDate != null ? #temporals.format(projectCreateForm.projectEndDate, 'yyyy/MM/dd') : ''}">2023年1月1日</span>
      </div>
    </div>
    <div class="col mb-3">
      <span class="form-label fw-bold">備考</span>
      <span class="form-control-plaintext"
        th:utext="${@projectViewHelper.convertLineBreakToHtml(projectCreateForm.note)}">備考欄</span>
    </div>
    <div class="row justify-content-center pt-4">
      <div class="col-2">
        <input class="btn btn-primary w-100" type="submit" name="back" value="戻る" />
      </div>
      <div class="col-2">
        <input class="btn btn-primary w-100" type="submit" name="execute" value="登録" />
      </div>
    </div>
  </form>
</body>

</html>