<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{:: title}, ~{:: body/content()}, true)}"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" />
  <script src="../../../static/js/jquery-3.6.0.min.js"></script>
  <script src="../../../static/js/bootstrap.bundle.min.js"></script>
  <script src="../../../static/js/common.js"></script>
  <title>プロジェクト登録</title>
</head>

<body class="container">
  <span></span>
  <div class="row mb-4">
    <div class="col">
      <div class="fs-2 fw-bold">プロジェクト登録</div>
    </div>
  </div>
  <form method="POST" action="./confirm.html">
    <span class="text-danger fw-bold"></span>
    <div class="row mb-3">
      <div class="col-6">
        <label for="divisionId" class="form-label fw-bold">事業部/部門<span class="fw-6 text-danger">*</span></label>
        <select class="form-select">
          <option value=""></option>
          <option>
            ...
          </option>
        </select>
        <span class="invalid-feedback"></span>
      </div>
      <div class="col-6">
        <label for="organizationId" class="form-label">&nbsp;</label>
        <select class="form-select">
          <option value=""></option>
          <option>
            ...
          </option>
        </select>
        <span class="invalid-feedback"></span>
      </div>
    </div>
    <div class="col mb-3">
      <label for="projectName" class="form-label fw-bold">PJ名<span class="fw-6 text-danger">*</span></label>
      <input type="text" placeholder="PJ名" class="form-control" maxlength="128" />
      <span class="invalid-feedback"></span>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="projectType" class="form-label fw-bold">PJ種別<span class="fw-6 text-danger">*</span></label>
        <select class="form-select">
          <option value=""></option>
          <option>
            ...
          </option>
        </select>
        <span class="invalid-feedback"></span>
      </div>
      <div class="col-6">
        <label for="projectClass" class="form-label fw-bold">PJ分類<span class="fw-6 text-danger">*</span></label>
        <div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" />
            <label class="form-check-label">SS</label>
          </div>
          <span class="invalid-feedback"></span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="sales" class="form-label fw-bold">売上高(千円)</label>
        <input type="text" placeholder="売上高" class="form-control" maxlength="9" />
        <span class="invalid-feedback"></span>
      </div>
      <div class="col-6">
        <label for="clientId" class="form-label fw-bold">顧客<span class="fw-6 text-danger">*</span></label>
        <div class="input-group">
          <input type="text" id="clientName" placeholder="顧客" class="form-control" readonly="readonly" />
          <input type="hidden" id="clientId" />
          <!--/* 顧客選択サブウィンドウを起動する（data-bs属性でbootstrapのモーダル機能を設定） */-->
          <button type="button" class="btn btn-info text-light" data-bs-toggle="modal" data-bs-target="#clientModal">
            選択
          </button>
          <span class="invalid-feedback"></span>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="projectManager" class="form-label fw-bold">PM<span class="fw-6 text-danger">*</span></label>
        <input type="text" placeholder="PM" class="form-control" maxlength="128" />
        <span class="invalid-feedback"></span>
      </div>
      <div class="col-6">
        <label for="projectLeader" class="form-label fw-bold">PL<span class="fw-6 text-danger">*</span></label>
        <input type="text" placeholder="PL" class="form-control" maxlength="128" />
        <span class="invalid-feedback"></span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="projectStartDate" class="form-label fw-bold">開始日<span class="fw-6 text-danger">*</span></label>
        <input type="date" placeholder="開始日" class="form-control" />
        <span class="invalid-feedback"></span>
        <span class="invalid-feedback"></span>
      </div>
      <div class="col-6">
        <label for="projectEndDate" class="form-label fw-bold">終了日<span class="fw-6 text-danger">*</span></label>
        <input type="date" placeholder="終了日" class="form-control" />
        <span class="invalid-feedback"></span>
      </div>
    </div>
    <div class="col mb-3">
      <label for="note" class="form-label fw-bold">備考</label>
      <textarea class="form-control" maxlength="512"></textarea>
      <span class="invalid-feedback"></span>
    </div>

    <div class="row justify-content-center pt-4">
      <div class="col-2">
        <input class="btn btn-primary w-100" type="submit" value="確認" />
      </div>
    </div>
  </form>
</body>

</html>