<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{:: title}, ~{:: body/content()}, true, ~{:: additionalScripts})}"
  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" />
  <script src="../../../static/js/jquery-3.6.0.min.js"></script>
  <script src="../../../static/js/bootstrap.bundle.min.js"></script>
  <script src="../../../static/js/common.js"></script>
  <title>プロジェクト検索</title>

  <!--/* 画面固有のJavaScriptファイル */-->
  <th:block th:fragment="additionalScripts">
  </th:block>
</head>

<body class="container">
  <span></span>
  <div class="row mb-4">
    <div class="col">
      <div class="fs-2 fw-bold">プロジェクト検索</div>
    </div>
  </div>
  <form method="GET" action="./index.html" th:object="${projectSearchForm}">
    <span class="text-danger fw-bold"></span>
    <div class="row mb-3">
      <div class="col-6">
        <label for="divisionId" class="form-label fw-bold">事業部</label>
        <select class="form-select">
          <option value=""></option>
          <option>
            ...
          </option>
        </select>
        <span class="invalid-feedback"></span>
      </div>
      <div class="col-6">
        <label for="organizationId" class="form-label fw-bold">部門</label>
        <select class="form-select">
          <option value=""></option>
          <option>
            ...
          </option>
        </select>
        <span class="invalid-feedback"></span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <div class="form-label fw-bold">PJ種別</div>
        <div class="form-check form-check-inline" th:each="codeValue : ${@codeViewHelper.getValues('C0300001','pattern01')}
          " th:classappend="${#fields.hasErrors('projectType')} ? 'is-invalid' : ''">
          <input type="checkbox" class="form-check-input" th:field="*{projectType}" th:value="${codeValue}"
            th:errorclass="is-invalid" />
          <label th:for="${#ids.prev('projectType')}" class="form-check-label"
            th:text="${@codeViewHelper.getName('C0300001',codeValue)}">SS</label>
        </div>
        <span th:if="${#fields.hasErrors('projectType')}" th:errors="*{projectType}" class="invalid-feedback"></span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <div class="form-label fw-bold">PJ分類</div>
        <div class="form-check form-check-inline" th:each="codeValue : ${@codeViewHelper.getValues('C0200001','pattern01')}
          " th:classappend="${#fields.hasErrors('projectClass')} ? 'is-invalid' : ''">
          <input type="checkbox" class="form-check-input" th:field="*{projectClass}" th:value="${codeValue}"
            th:errorclass="is-invalid" />
          <label th:for="${#ids.prev('projectClass')}" class="form-check-label"
            th:text="${@codeViewHelper.getName('C0200001',codeValue)}">SS</label>
        </div>
        <span th:if="${#fields.hasErrors('projectClass')}" th:errors="*{projectClass}" class="invalid-feedback"></span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="salesFrom" class="form-label fw-bold">売上高_実績_FROM(千円)</label>
        <input type="text" placeholder="売上高_実績_FROM" class="form-control" maxlength="9" />
        <span class="invalid-feedback"></span>
        <span class="invalid-feedback"></span>
      </div>
      <div class="col-6">
        <label for="salesTo" class="form-label fw-bold">売上高_実績_TO(千円)</label>
        <input type="text" placeholder="売上高_実績_TO" class="form-control" maxlength="9" />
        <span class="invalid-feedback"></span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="projectStartDateFrom" class="form-label fw-bold">開始日_FROM</label>
        <input type="date" placeholder="開始日_FROM" class="form-control" />
        <span class="invalid-feedback"></span>
        <span class="invalid-feedback"></span>
      </div>
      <div class="col-6">
        <label for="projectStartDateTo" class="form-label fw-bold">開始日_TO</label>
        <input type="date" placeholder="開始日_TO" class="form-control" />
        <span class="invalid-feedback"></span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="projectEndDateFrom" class="form-label fw-bold">終了日_FROM</label>
        <input type="date" placeholder="終了日_FROM" class="form-control" />
        <span class="invalid-feedback"></span>
        <span class="invalid-feedback"></span>
      </div>
      <div class="col-6">
        <label for="projectEndDateTo" class="form-label fw-bold">終了日_TO</label>
        <input type="date" placeholder="終了日_TO" class="form-control" />
        <span class="invalid-feedback"></span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="projectName" class="form-label fw-bold">プロジェクト名で検索</label>
        <input type="text" placeholder="プロジェクト名で検索" class="form-control" maxlength="128" />
        <span class="invalid-feedback"></span>
      </div>
    </div>
    <div class="row justify-content-center pt-4">
      <div class="col-2">
        <input class="btn btn-primary w-100" type="submit" value="検索" />
      </div>
    </div>
  </form>
  <!--/* 以下検索結果時に表示する領域 */-->
  <th:block>
    <div></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">PJ名</th>
          <th scope="col">事業部</th>
          <th scope="col">部門</th>
          <th scope="col">PJ種別</th>
          <th scope="col">PJ分類</th>
          <th scope="col">PM</th>
          <th scope="col">売上高_実績(千円)</th>
          <th scope="col">開始日</th>
          <th scope="col">終了日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <!-- FIXME: Trailing Slash（TrailingSlashMatchの設定デモ用にあえてtrailing slashを残しています。） -->
            <a href="../detail/index.html">プロジェクト名1</a>
          </td>
          <td>A事業部</td>
          <td>C部門</td>
          <td>新規開発ＰＪ</td>
          <td>ＳＳ</td>
          <td>マネージャー１</td>
          <td>10,000</td>
          <td>2019/06/01</td>
          <td>2019/12/31</td>
        </tr>
      </tbody>
    </table>
  </th:block>
</body>

</html>