<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{:: title}, ~{:: body/content()}, true, ~{:: additionalScripts})}"
  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" />
  <script src="../../../static/js/jquery-3.6.0.min.js"></script>
  <script src="../../../static/js/bootstrap.bundle.min.js"></script>
  <script src="../../../static/js/common.js"></script>
  <title>プロジェクト詳細</title>

  <!--/* 画面固有のJavaScriptファイル */-->
  <th:block th:fragment="additionalScripts">
  </th:block>
</head>

<body class="container">
  <span></span>
  <div class="row mb-4">
    <div class="col">
      <div class="fs-2 fw-bold">プロジェクト詳細</div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <span class="form-label fw-bold">事業部/部門</span>
      <span class="form-control-plaintext" th:text="${project.divisionName}">A事業部</span>
    </div>
    <div class="col-6">
      <span class="form-label">&nbsp;</span>
      <span class="form-control-plaintext" th:text="${project.organizationName}">C部門</span>
    </div>
  </div>
  <div class="col mb-3">
    <span class="form-label fw-bold">PJ名</span>
    <span class="form-control-plaintext" th:text="${project.projectName}">○○プロジェクト</span>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <span class="form-label fw-bold">PJ種別</span>
      <span class="form-control-plaintext"
        th:text="${@codeViewHelper.getName('C0300001', project.projectType)}">新規開発PJ</span>
    </div>
    <div class="col-6">
      <span class="form-label fw-bold">PJ分類</span>
      <span class="form-control-plaintext"
        th:text="${@codeViewHelper.getName('C0200001', project.projectClass)}">SS</span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <span class="form-label fw-bold">売上高(千円)</span>
      <span class="form-control-plaintext" th:text="${@projectViewHelper.formatSales(project.sales)}">15,000</span>
    </div>
    <div class="col-6">
      <span class="form-label fw-bold">顧客</span>
      <div class="input-group">
        <span class="form-control-plaintext"
          th:text="${@projectViewHelper.getClientName(project.clientId)}">TIS株式会社（仮）</span>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <span class="form-label fw-bold">PM</span>
      <span class="form-control-plaintext" th:text="${project.projectManager}">プロジェクトマネージャ</span>
    </div>
    <div class="col-6">
      <span class="form-label fw-bold">PL</span>
      <span class="form-control-plaintext" th:text="${project.projectLeader}">プロジェクトリーダー</span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <span class="form-label fw-bold">開始日</span>
      <span class="form-control-plaintext"
        th:text="${@projectViewHelper.formatDate(project.projectStartDate)}">2022年1月1日</span>
    </div>
    <div class="col-6">
      <span class="form-label fw-bold">終了日</span>
      <span class="form-control-plaintext"
        th:text="${@projectViewHelper.formatDate(project.projectEndDate)}">2023年1月1日</span>
    </div>
  </div>
  <div class="col mb-3">
    <span class="form-label fw-bold">備考</span>
    <span class="form-control-plaintext" th:text="${project.note}">備考欄</span>
  </div>
  <div class="row justify-content-center pt-4">
    <div class="col-2">
      <!--/* 検索結果画面に戻る */-->
      <a class="btn btn-primary w-100" th:href="@{/project/search/search(divisionId=${searchForm.divisionId}, 
                                         organizationId=${searchForm.organizationId}, 
                                         projectType=${searchForm.projectType}, 
                                         projectClass=${searchForm.projectClass}, 
                                         salesFrom=${searchForm.salesFrom}, 
                                         salesTo=${searchForm.salesTo}, 
                                         projectStartDateFrom=${searchForm.projectStartDateFrom}, 
                                         projectStartDateTo=${searchForm.projectStartDateTo}, 
                                         projectEndDateFrom=${searchForm.projectEndDateFrom}, 
                                         projectEndDateTo=${searchForm.projectEndDateTo}, 
                                         projectName=${searchForm.projectName}, 
                                         pageNumber=${searchForm.pageNumber})}" href="../search/index.html">戻る</a>
    </div>
    <div class="col-2">
      <!-- プロジェクト更新画面へのリンク -->
      <a class="btn btn-primary w-100" th:href="@{/project/update/{projectId}(projectId=${project.projectId})}"
        href="../update/index.html">更新</a>
    </div>
  </div>
</body>

</html>