<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web.project.mapper.ProjectSearchMapper">

    <resultMap id="ProjectSearchDto" type="com.example.web.project.dto.ProjectSearchDto">
        <result property="projectId" column="PROJECT_ID"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="projectType" column="PROJECT_TYPE"/>
        <result property="projectClass" column="PROJECT_CLASS"/>
        <result property="projectManager" column="PROJECT_MANAGER"/>
        <result property="sales" column="SALES"/>
        <result property="projectStartDate" column="PROJECT_START_DATE"/>
        <result property="projectEndDate" column="PROJECT_END_DATE"/>
        <result property="divisionName" column="DIVISION_NAME"/>
        <result property="organizationName" column="ORGANIZATION_NAME"/>
    </resultMap>

    <resultMap id="ProjectDetailDto" type="com.example.web.project.dto.ProjectDetailDto">
        <result property="projectId" column="PROJECT_ID"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="projectType" column="PROJECT_TYPE"/>
        <result property="projectClass" column="PROJECT_CLASS"/>
        <result property="projectManager" column="PROJECT_MANAGER"/>
        <result property="projectLeader" column="PROJECT_LEADER"/>
        <result property="sales" column="SALES"/>
        <result property="projectStartDate" column="PROJECT_START_DATE"/>
        <result property="projectEndDate" column="PROJECT_END_DATE"/>
        <result property="divisionName" column="DIVISION_NAME"/>
        <result property="organizationName" column="ORGANIZATION_NAME"/>
        <result property="clientId" column="CLIENT_ID"/>
        <result property="note" column="NOTE"/>
    </resultMap>

    <sql id="searchCondition">
        <where>
            <if test="condition.divisionId != null">
                AND division.ORGANIZATION_ID = #{condition.divisionId}
            </if>
            <if test="condition.organizationId != null">
                AND dept.ORGANIZATION_ID = #{condition.organizationId}
            </if>
            <if test="condition.projectType != null and condition.projectType.size() > 0">
                AND p.PROJECT_TYPE IN
                <foreach collection="condition.projectType" item="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            <if test="condition.projectClass != null and condition.projectClass.size() > 0">
                AND p.PROJECT_CLASS IN
                <foreach collection="condition.projectClass" item="classType" open="(" separator="," close=")">
                    #{classType}
                </foreach>
            </if>
            <if test="condition.salesFrom != null">
                AND p.SALES &gt;= #{condition.salesFrom}
            </if>
            <if test="condition.salesTo != null">
                AND p.SALES &lt;= #{condition.salesTo}
            </if>
            <if test="condition.projectStartDateFrom != null">
                AND p.PROJECT_START_DATE &gt;= #{condition.projectStartDateFrom}
            </if>
            <if test="condition.projectStartDateTo != null">
                AND p.PROJECT_START_DATE &lt;= #{condition.projectStartDateTo}
            </if>
            <if test="condition.projectEndDateFrom != null">
                AND p.PROJECT_END_DATE &gt;= #{condition.projectEndDateFrom}
            </if>
            <if test="condition.projectEndDateTo != null">
                AND p.PROJECT_END_DATE &lt;= #{condition.projectEndDateTo}
            </if>
            <if test="condition.projectName != null and condition.projectName != ''">
                AND p.PROJECT_NAME LIKE CONCAT('%', #{condition.projectName}, '%')
            </if>
        </where>
    </sql>

    <select id="searchProjects" resultMap="ProjectSearchDto">
        SELECT
            p.PROJECT_ID,
            p.PROJECT_NAME,
            p.PROJECT_TYPE,
            p.PROJECT_CLASS,
            p.PROJECT_MANAGER,
            p.SALES,
            p.PROJECT_START_DATE,
            p.PROJECT_END_DATE,
            division.ORGANIZATION_NAME AS DIVISION_NAME,
            dept.ORGANIZATION_NAME AS ORGANIZATION_NAME
        FROM
            PROJECT p
            LEFT JOIN ORGANIZATION dept ON p.ORGANIZATION_ID = dept.ORGANIZATION_ID
            LEFT JOIN ORGANIZATION division ON dept.UPPER_ORGANIZATION = division.ORGANIZATION_ID
        <include refid="searchCondition"/>
        ORDER BY p.PROJECT_ID
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="countSearchProjects" resultType="long">
        SELECT COUNT(*)
        FROM
            PROJECT p
            LEFT JOIN ORGANIZATION dept ON p.ORGANIZATION_ID = dept.ORGANIZATION_ID
            LEFT JOIN ORGANIZATION division ON dept.UPPER_ORGANIZATION = division.ORGANIZATION_ID
        <include refid="searchCondition"/>
    </select>

    <select id="getProjectDetail" resultMap="ProjectDetailDto">
        SELECT
            p.PROJECT_ID,
            p.PROJECT_NAME,
            p.PROJECT_TYPE,
            p.PROJECT_CLASS,
            p.PROJECT_MANAGER,
            p.PROJECT_LEADER,
            p.SALES,
            p.PROJECT_START_DATE,
            p.PROJECT_END_DATE,
            p.CLIENT_ID,
            p.NOTE,
            division.ORGANIZATION_NAME AS DIVISION_NAME,
            dept.ORGANIZATION_NAME AS ORGANIZATION_NAME
        FROM
            PROJECT p
            LEFT JOIN ORGANIZATION dept ON p.ORGANIZATION_ID = dept.ORGANIZATION_ID
            LEFT JOIN ORGANIZATION division ON dept.UPPER_ORGANIZATION = division.ORGANIZATION_ID
        WHERE
            p.PROJECT_ID = #{projectId}
    </select>

</mapper>
